<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/style.css">
		<title>
			my first project
		</title>
	</head>
	<body>
		<div class = "header">
			<div class="title">
				<h1>
					MINIMO
				</h1>
			</div>
			<ul class="href-list">
				<a href = "lifestyle.html">
					<li>
						LIFESTYLE
					</li>
				</a>
				<a href = "photodiary.html">
					<li>
						PHOTODIARY
					</li>
				</a>
				<a href = "music.html">
					<li>
						MUSIC
					</li>
				</a>
				<a href = "travel.html">
					<li>
						TRAVEL
					</li>
				</a>
			</ul>
		</div>
		<img class="img-header" src="../images/header.PNG">
		<div class = "contents">
			<div class = "right-content">
				<img src="../images/right-content.PNG">
				<div class="space-text">
					<h1>
						About me
					</h1>
				</div>
				<div class="space-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing
				</div>
				<div class="space-text">
					elit, sed do eiusmod tempor incididunt ut labore et
				</div>
				<div class="space-text">
					dolore magna aliqua.
				</div>
				<div class="space-text">
					TOP POSTS
				</div>
				<ul>
					<li>
						A day exploring the Alps
						<p>
							<span class ="gray-text">
								24 COMMENTS
							</span>
						</p>
					</li>
					<li>
						American dream
						<p>
							<span class ="gray-text">
								19 COMMENTS
							</span>
						</p>
					</li>
					<li>
						Cold winter days
						<p>
							<span class ="gray-text">
								15 COMMENTS
							</span>
						</p>
					</li>
				</ul>
			</div>
			<div class = "left-content">
				<div class="space-text">
					PHOTODIARY
				</div>
				<div class="space-text">
					<h1>
						The perfect weekend getaway
					</h1>
				</div>
				<div class="space-text">
					Lorem ipsuim dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				</div>
				<div class="space-text">
					dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
				</div>
				<div class="space-text">
					ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
				</div>
				<div class="space-text">
					nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
				</div>
				<div class="space-text">
					id est laborum. Sed ut perspiciatis unde omnus iste natus error sit voluptatem accusantium doloremque
				</div>
				<div class="space-text">
					laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi earchitecto beatae vitae
				</div>
				<div class="space-text">
					dicta synt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
				</div>
				<div class="space-text">
					dolorem ipsum quia dolor sit amet, consecteture, adipisci velit, sed quia non numquam eius modi tempora
				</div>
				<div class="space-text">
					incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
				<img class="img-content-left-1" src="../images/left-content.PNG">
				<div class="space-text">
					Lorem ipsuim dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				</div>
				<div class="space-text">
					dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
				</div>
				<div class="space-text">
					ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
				</div>
				<div class="space-text">
					nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
				</div>
				<div class="space-text">
					id est laborum. Sed ut perspiciatis unde omnus iste natus error sit voluptatem accusantium doloremque
				</div>
				<div class="space-text">
					laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi earchitecto beatae vitae
				</div>
				<div class="space-text">
					dicta synt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
				</div>
				<div class="space-text">
					dolorem ipsum quia dolor sit amet, consecteture, adipisci velit, sed quia non numquam eius modi tempora
				</div>
				<div class="space-text">
					incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
		</div>
		<div class="footer">
			<ul class="container_footer">
				<li class="term">
					<h3>
						Terms and conditions
					<h3>
				</li>
				<li class="privacy">
					<h3>
						Privacy
					<h3>
				</li>
			</ul>
		</div>	
	</body>
</html>
